:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
 */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #18181A;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* border-radius: 8px; */
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


.card {
  padding: 2em;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes go-back1 {
  0% {
    color: transparent;      
  }
  0% {
    color:#707070;      
  }
  
}

@keyframes go-back {
  0% {
    color: #707070;
    transform: translate(0px) scale(1);
      
  }
  100% {
    color: green;
    transform: translate(0px) scale(1.5);
  }
}

.buttonSave {
  animation: go-back 1s infinite alternate, go-back1 4s;
  /* font-family: 'Baloo 2', cursive; */
}

.shake {
  animation: shake 1s forwards;
  display: inline-block;
}

@keyframes shake {
  from {
    transform: translateX(-70px);
  }
  to {
    
    transform: translateX(-0px);
  }
}

.teste {
  /* text-align: center; */
  text-align: center;
}

.returnTrash {
  width: 50px;
  height: 50px;
  animation: returnTrash 1s;
}

@keyframes returnTrash {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(1000px);
  }
}

.saveButton{
  color: #707070;
  transition-timing-function: ease;
  transition-duration: 2s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

